.DS_Store
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
build/
dist/
htmlcov/
*.pt
observer_dataset_*/
measurements/**/*.png
speculation_traces
alternative-early-exit
ssh
debug_outputs